<div>
  <h2 id="page-heading" data-cy="ProyectHeading">
    <span jhiTranslate="javanikoCalendarApp.proyect.home.title">Proyects</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-warning mr-2" (click)="getGithubWorkspacesByUser(usuario!)">
        <fa-icon [icon]="faCheckCircle"></fa-icon>
        <span jhiTranslate="javanikoCalendarApp.proyect.confirmGithub">Confirm import of proyects</span>
      </button>

      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="javanikoCalendarApp.proyect.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-proyect"
        [routerLink]="['/proyect/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="javanikoCalendarApp.proyect.home.createLabel"> Create a new Proyect </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="proyects?.length === 0">
    <span jhiTranslate="javanikoCalendarApp.proyect.home.notFound">No proyects found</span>
  </div>

  <div class="alert alert-warning" id="empty-proyects" *ngIf="emptyProyects">
    <span jhiTranslate="javanikoCalendarApp.workspace.emptyProyects">No proyects found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="proyects && proyects.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="javanikoCalendarApp.proyect.name">Name</span></th>
          <th scope="col"><span jhiTranslate="javanikoCalendarApp.proyect.description">Description</span></th>
          <th scope="col"><span jhiTranslate="javanikoCalendarApp.proyect.createdAt">Created At</span></th>
          <th scope="col"><span jhiTranslate="javanikoCalendarApp.proyect.isPrivate">Is Private</span></th>
          <th scope="col"><span jhiTranslate="javanikoCalendarApp.proyect.milestonesUrl">Milestones Url</span></th>
          <th scope="col"><span jhiTranslate="javanikoCalendarApp.proyect.workspace">Workspace</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let proyect of proyects; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/proyect', proyect.id, 'view']">{{ proyect.id }}</a>
          </td>
          <td>{{ proyect.name }}</td>
          <td>{{ proyect.description }}</td>
          <td>{{ proyect.createdAt | formatMediumDate }}</td>
          <td>{{ proyect.isPrivate }}</td>
          <td>{{ proyect.milestonesUrl }}</td>
          <td>
            <div *ngIf="proyect.workspace">
              <a [routerLink]="['/workspace', proyect.workspace?.id, 'view']">{{ proyect.workspace?.login }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/proyect', proyect.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/proyect', proyect.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(proyect)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
