<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="proyect">
      <h2 data-cy="proyectDetailsHeading"><span jhiTranslate="javanikoCalendarApp.proyect.detail.title">Proyect</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ proyect.id }}</span>
        </dd>
        <dt><span jhiTranslate="javanikoCalendarApp.proyect.name">Name</span></dt>
        <dd>
          <span>{{ proyect.name }}</span>
        </dd>
        <dt><span jhiTranslate="javanikoCalendarApp.proyect.description">Description</span></dt>
        <dd>
          <span>{{ proyect.description }}</span>
        </dd>
        <dt><span jhiTranslate="javanikoCalendarApp.proyect.createdAt">Created At</span></dt>
        <dd>
          <span>{{ proyect.createdAt | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="javanikoCalendarApp.proyect.isPrivate">Is Private</span></dt>
        <dd>
          <span>{{ proyect.isPrivate }}</span>
        </dd>
        <dt><span jhiTranslate="javanikoCalendarApp.proyect.milestonesUrl">Milestones Url</span></dt>
        <dd>
          <span>{{ proyect.milestonesUrl }}</span>
        </dd>
        <dt><span jhiTranslate="javanikoCalendarApp.proyect.workspace">Workspace</span></dt>
        <dd>
          <div *ngIf="proyect.workspace">
            <a [routerLink]="['/workspace', proyect.workspace?.id, 'view']">{{ proyect.workspace?.login }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/proyect', proyect.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
