<div>
  <h2 id="page-heading" data-cy="InputHeading">
    <span jhiTranslate="javanikoCalendarApp.input.home.title">Inputs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="javanikoCalendarApp.input.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-input"
        [routerLink]="['/input/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="javanikoCalendarApp.input.home.createLabel"> Create a new Input </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="inputs?.length === 0">
    <span jhiTranslate="javanikoCalendarApp.input.home.notFound">No inputs found</span>
  </div>

  <full-calendar [options]="calendarOptions"></full-calendar>

  <div class="table-responsive" id="entities" *ngIf="inputs && inputs.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="javanikoCalendarApp.input.comment">Comment</span></th>
          <th scope="col"><span jhiTranslate="javanikoCalendarApp.input.feelings">Feelings</span></th>
          <th scope="col"><span jhiTranslate="javanikoCalendarApp.input.inputDate">Input Date</span></th>
          <th scope="col"><span jhiTranslate="javanikoCalendarApp.input.usuario">Usuario</span></th>
          <th scope="col"><span jhiTranslate="javanikoCalendarApp.input.calendar">Calendar</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let input of inputs; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/input', input.id, 'view']">{{ input.id }}</a>
          </td>
          <td>{{ input.comment }}</td>
          <td>{{ input.feelings }}</td>
          <td>{{ input.inputDate | formatMediumDate }}</td>
          <td>
            <div *ngIf="input.usuario">
              <a [routerLink]="['/usuario', input.usuario?.id, 'view']">{{ input.usuario?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="input.calendar">
              <a [routerLink]="['/calendar', input.calendar?.id, 'view']">{{ input.calendar?.name }}</a>
            </div>
          </td>
          <td class="text-right"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
