<div>
  <h2 id="page-heading" data-cy="InputHeading">
    <span jhiTranslate="javanikoCalendarApp.input.home.title">Inputs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="javanikoCalendarApp.input.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-input"
        [routerLink]="['/input/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="javanikoCalendarApp.input.home.createLabel"> Create a new Input </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="inputs?.length === 0">
    <span jhiTranslate="javanikoCalendarApp.input.home.notFound">No inputs found</span>
  </div>

  <div [ngSwitch]="hasAnyAuthority('ROLE_ADMIN')">
    <div *ngSwitchCase="true"></div>
    <div *ngSwitchCase="false" style="display: flex">
      <div class="calendar">
        <div class="row">
          <div class="col-sm">
            <div class="d-flex justify-content-start">
              <select [(ngModel)]="proyectSelected" (change)="onChangeSelectSprint()">
                <option [ngValue]="undefined" jhiTranslate="javanikoCalendarApp.input.proyect.select">Select a proyect...</option>
                <option *ngFor="let proyect of proyects" [ngValue]="proyect">{{ proyect.name }}</option>
              </select>
              <select
                class="sprintSelect"
                *ngIf="sprints && sprints.length > 0"
                [(ngModel)]="sprintSelected"
                (change)="onChangeSprintDate(calendarComponent)"
              >
                <option [ngValue]="undefined" jhiTranslate="javanikoCalendarApp.input.sprint.select">Select a sprint...</option>
                <option *ngFor="let sprint of sprints" [ngValue]="sprint">{{ sprint.title }}</option>
              </select>
            </div>
          </div>
          <div class="col-sm">
            <div class="d-flex justify-content-center title">
              {{ title }}
            </div>
          </div>
          <div class="col-sm">
            <div class="d-flex justify-content-end months">
              <button
                class="fc-button"
                (click)="getPreviousMonth(calendarComponent)"
                jhiTranslate="javanikoCalendarApp.input.calendar.prev"
              >
                Prev
              </button>
              <button
                class="fc-button"
                (click)="getCurrentMonth(calendarComponent)"
                jhiTranslate="javanikoCalendarApp.input.calendar.current"
              >
                Current
              </button>
              <button class="fc-button" (click)="getNextMonth(calendarComponent)" jhiTranslate="javanikoCalendarApp.input.calendar.next">
                Next
              </button>
            </div>
          </div>
        </div>
        <full-calendar #calendar [options]="calendarOptions"></full-calendar>
      </div>
      <div class="d-flex align-items-center flex-column legend">
        <h3 class="legendTitle" jhiTranslate="javanikoCalendarApp.input.legend.title">Moods</h3>
        <img src="../../../content/images/happy_emoji.png" />
        <p jhiTranslate="javanikoCalendarApp.input.legend.happy">Good day</p>
        <img src="../../../content/images/serious_emoji.png" />
        <p jhiTranslate="javanikoCalendarApp.input.legend.serious">Neutral day</p>
        <img src="../../../content/images/sad.png" />
        <p jhiTranslate="javanikoCalendarApp.input.legend.sad">Bad day</p>
      </div>
    </div>
  </div>

  <div class="table-responsive" id="entities" *ngIf="inputs && inputs.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="javanikoCalendarApp.input.comment">Comment</span></th>
          <th scope="col"><span jhiTranslate="javanikoCalendarApp.input.feelings">Feelings</span></th>
          <th scope="col"><span jhiTranslate="javanikoCalendarApp.input.inputDate">Input Date</span></th>
          <th scope="col"><span jhiTranslate="javanikoCalendarApp.input.sprint.title">Sprint</span></th>
          <th *ngIf="hasAnyAuthority('ROLE_ADMIN')" scope="col"><span jhiTranslate="javanikoCalendarApp.input.usuario">Usuario</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let input of inputs; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/input', input.id, 'view']">{{ input.id }}</a>
          </td>
          <td>
            <strong style="font-size: 1.15em">{{ input.usuario?.username }}</strong
            >: {{ input.comment }}
          </td>
          <td *ngIf="input.feelings == 0">☹</td>
          <td *ngIf="input.feelings == 5">😐</td>
          <td *ngIf="input.feelings == 10">😁</td>
          <td>{{ input.inputDate | formatMediumDate }}</td>
          <td>
            <div *ngIf="input.sprint">
              <a [routerLink]="['/sprint', input.sprint?.id, 'view']">{{ input.sprint?.title }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="input.usuario && hasAnyAuthority('ROLE_ADMIN')">
              <a [routerLink]="['/usuario', input.usuario?.id, 'view']">{{ input.usuario?.username }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/input', input.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/input', input.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(input)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
