<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="workspace">
      <h2 data-cy="workspaceDetailsHeading"><span jhiTranslate="javanikoCalendarApp.workspace.detail.title">Workspace</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ workspace.id }}</span>
        </dd>
        <dt><span jhiTranslate="javanikoCalendarApp.workspace.login">Login</span></dt>
        <dd>
          <span>{{ workspace.login }}</span>
        </dd>
        <dt><span jhiTranslate="javanikoCalendarApp.workspace.repos_url">Repos Url</span></dt>
        <dd>
          <span>{{ workspace.repos_url }}</span>
        </dd>
        <dt><span jhiTranslate="javanikoCalendarApp.workspace.description">Description</span></dt>
        <dd>
          <span>{{ workspace.description }}</span>
        </dd>
        <dt><span jhiTranslate="javanikoCalendarApp.workspace.usuario">Usuario</span></dt>
        <dd>
          <span *ngFor="let usuarioOption of usuariosSharedCollection; trackBy: trackUsuarioById">
            <a
              *ngIf="hideUsuario(usuarioOption!, workspace)"
              class="form-control-static"
              [routerLink]="['/usuario', usuarioOption!.id, 'view']"
            >
              {{ usuarioOption!.username }}</a
            >
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/workspace', workspace.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
