<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-sprint-heading" data-cy="SprintCreateUpdateHeading" jhiTranslate="javanikoCalendarApp.sprint.home.createOrEditLabel">
        Create or edit a Sprint
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="javanikoCalendarApp.sprint.title" for="field_title">Title</label>
          <input type="text" class="form-control" name="title" id="field_title" data-cy="title" formControlName="title" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="javanikoCalendarApp.sprint.createdAt" for="field_createdAt">Created At</label>
          <div class="input-group">
            <input
              id="field_createdAt"
              data-cy="createdAt"
              type="text"
              class="form-control"
              name="createdAt"
              ngbDatepicker
              #createdAtDp="ngbDatepicker"
              formControlName="createdAt"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="createdAtDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="javanikoCalendarApp.sprint.dueOn" for="field_dueOn">Due On</label>
          <div class="input-group">
            <input
              id="field_dueOn"
              data-cy="dueOn"
              type="text"
              class="form-control"
              name="dueOn"
              ngbDatepicker
              #dueOnDp="ngbDatepicker"
              formControlName="dueOn"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="dueOnDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="javanikoCalendarApp.sprint.status" for="field_status">Status</label>
          <select class="form-control" name="status" formControlName="status" id="field_status" data-cy="status">
            <option [ngValue]="null">{{ 'javanikoCalendarApp.Status.null' | translate }}</option>
            <option value="ON_GOING">{{ 'javanikoCalendarApp.Status.ON_GOING' | translate }}</option>
            <option value="PENDING">{{ 'javanikoCalendarApp.Status.PENDING' | translate }}</option>
            <option value="SUCCESS">{{ 'javanikoCalendarApp.Status.SUCCESS' | translate }}</option>
            <option value="FAIL">{{ 'javanikoCalendarApp.Status.FAIL' | translate }}</option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="javanikoCalendarApp.sprint.description" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="javanikoCalendarApp.sprint.proyect" for="field_proyect">Proyect</label>
          <select class="form-control" id="field_proyect" data-cy="proyect" name="proyect" formControlName="proyect">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="proyectOption.id === editForm.get('proyect')!.value?.id ? editForm.get('proyect')!.value : proyectOption"
              *ngFor="let proyectOption of proyectsSharedCollection; trackBy: trackProyectById"
            >
              {{ proyectOption.name }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
