.calendarWeek,
.calendarMonth {
  margin-left: 2em;
}

.input-group {
  margin-top: 1em;
  margin-bottom: 2em;
}

.usuarios,
.proyects,
.sprints {
  margin-top: 1em;
  margin-bottom: 2em;
}

.usuariosTitle,
.proyectsTitle,
.proyectsSelect,
.sprintsTitle,
.sprintsSelect {
  margin-bottom: 2em;
}

.usuarioChart,
.proyectChart,
.sprintChart {
  width: fit-content;
}

.modeUsuario,
.modeProyect,
.modeSprint {
  text-align: center;
  font-size: 1.25em;
}
