<div class="row">
  <div class="col-md-9">
    <h1 class="display-4" jhiTranslate="home.title">Welcome to Javaniko Calendar!</h1>

    <h2 class="lead" jhiTranslate="home.subtitle">
      Do you want to indicate how was your day, but you dont know how? ¡Javaniko Calendar is your choice!
    </h2>

    <div class="d-flex justify-content-center">
      <h4 class="goToInputs" jhiTranslate="home.goToInputs">Start right now telling how you feel here:</h4>
      <button class="btn btn-warning mr-2 inputButton" [routerLink]="['/input']">
        <span jhiTranslate="global.menu.entities.input">Input</span>
      </button>
    </div>

    <div class="d-flex justify-content-center">
      <h4 class="goToStatistics" jhiTranslate="home.goToStatistics">Take a look at your input's statistics here:</h4>
      <button class="btn btn-primary statisticsButton" [routerLink]="['/statistics']">
        <span jhiTranslate="global.menu.statistics">Statistics</span>
      </button>
    </div>
  </div>

  <div class="col-md-3">
    <span class="hipster img-fluid rounded"></span>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-md-9 introduccion">
    <h2 class="introduccion-title" jhiTranslate="home.introduccion.title">What is Javaniko Calendar?</h2>
    <p class="introduccion-text" jhiTranslate="home.introduccion.text">
      Javaniko Calendar is a platform where you can create projects using Scrum, with a workspace to link your projects, related sprints for
      each project, and the exclusive option in the platform, get a Niko Niko calendar for each sprint to monitor the team satisfaction with
      the done work. There is also available an option to see the statistics of workspaces, proyects and sprints to analyze all of the
      content.
    </p>
  </div>
</div>

<div class="row justify-content-around info">
  <div class="col-md-4 workspaces">
    <span class="imagen-workspaces img-fluid rounded"></span>
    <h2 class="workspaces-title" jhiTranslate="home.workspaces.title">Set up your work</h2>
    <p class="workspaces-text" jhiTranslate="home.workspaces.text">Start your work making up the workspace for you and your team.</p>
  </div>
  <div class="col-md-4 proyectos">
    <span class="imagen-proyectos img-fluid rounded"></span>
    <h2 class="proyectos-title" jhiTranslate="home.proyectos.title">Create projects easily</h2>
    <p class="proyectos-text" jhiTranslate="home.proyectos.text">
      Create projects from scratch from your work environment and your associated workspace.
    </p>
  </div>
</div>

<div class="row justify-content-center info3">
  <div class="col-md-4 calendario">
    <span class="imagen-calendario img-fluid rounded"></span>
    <h2 class="calendario-title" jhiTranslate="home.calendario.title">Express your emotions</h2>
    <p class="calendario-text" jhiTranslate="home.calendario.text">
      Thanks to the exclusive functionality of the application, you can describe how was your day using emojis in our Niko Niko Calendars.
    </p>
  </div>
</div>

<div class="row justify-content-around info2">
  <div class="col-md-4 sprints">
    <span class="imagen-sprints img-fluid rounded"></span>
    <h2 class="sprints-title" jhiTranslate="home.sprints.title">See progress thanks to sprints</h2>
    <p class="sprints-text" jhiTranslate="home.sprints.text">
      Use sprints to keep full track of tasks and Burn-Down graph to see story points remaining.
    </p>
  </div>
  <div class="col-md-4 estadisticas">
    <span class="imagen-estadisticas img-fluid rounded"></span>
    <h2 class="estadisticas-title" jhiTranslate="home.estadisticas.title">Analyze all the content</h2>
    <p class="estadisticas-text" jhiTranslate="home.estadisticas.text">
      Monitor your work thanks to our graphs for workspaces, projects, sprints and custom graphs for each user.
    </p>
  </div>
</div>
