/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
  display: inline-block;
  width: 500px;
  height: 500px;
  background: url('../../content/images/manzanas.jpg') no-repeat center;
  background-size: contain;
}

.imagen-workspaces {
  display: inline-block;
  width: 20em;
  height: 20em;
  background: url('../../content/images/workspace.png') no-repeat center;
  background-size: contain;
}

.imagen-proyectos {
  display: inline-block;
  width: 20em;
  height: 20em;
  background: url('../../content/images/proyecto.png') no-repeat center;
  background-size: contain;
}

.imagen-sprints {
  display: inline-block;
  width: 20em;
  height: 20em;
  background: url('../../content/images/sprint.jfif') no-repeat center;
  background-size: contain;
}

.imagen-estadisticas {
  display: inline-block;
  width: 20em;
  height: 20em;
  background: url('../../content/images/estadistica.jfif') no-repeat center;
  background-size: contain;
}

.imagen-calendario {
  display: inline-block;
  width: 20em;
  height: 20em;
  background: url('../../content/images/calendario-niko-niko.png') no-repeat center;
  background-size: contain;
}

.lead {
  font-size: 2rem;
  text-align: center;
}
.display-4 {
  text-align: center;
  padding-top: 2.75em;
  font-size: 4rem;
}

.goToInputs,
.goToStatistics {
  padding-top: 1.5em;
  text-align: center;
  border-bottom: 0.1em solid #000;
  padding-bottom: 1px;
}

.inputButton {
  margin-left: 1em;
  height: 2.5em;
  width: 5em;
  margin-top: 2em;
}

.statisticsButton {
  margin-left: 1em;
  margin-top: 2em;
}

.introduccion,
.proyectos,
.workspaces,
.sprints,
.estadisticas,
.calendario {
  text-align: center;
}

.introduccion-title {
  font-style: oblique;
  font-weight: bold;
}

.introduccion-text {
  font-size: 1.3em;
}

.workspaces-title,
.proyectos-title,
.sprints-title,
.estadisticas-title,
.calendario-title {
  font-weight: bold;
}

.workspaces-text,
.proyectos-text,
.sprints-text,
.estadisticas-text,
.calendario-text {
  font-size: 1.5em;
}

.info,
.info2,
.info3 {
  padding-top: 5em;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .hipster {
    background: url('../../content/images/manzanas.jpg') no-repeat center top;
    background-size: contain;
  }
}
