<form name="githubForm" (ngSubmit)="confirmGithubData()">
  <div class="modal-header">
    <h4 class="modal-title" data-cy="githubDialogHeading" jhiTranslate="javanikoCalendarApp.workspace.github">Import from GitHub</h4>

    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="cancel()">&times;</button>
  </div>

  <div class="modal-body">
    <jhi-alert-error></jhi-alert-error>

    <p id="jhi-github-heading" jhiTranslate="javanikoCalendarApp.workspace.githubConfirm">
      You are going to import your organizations (workspaces) from GitHub, including related repositories (projects) and milestones
      (sprints). Are you sure you want to import them?
    </p>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
      <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
    </button>

    <button id="jhi-confirm-delete-workspace" data-cy="entityConfirmGithubButton" type="submit" class="btn btn-success">
      <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
    </button>
  </div>
</form>
