<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-proyect-heading" data-cy="ProyectCreateUpdateHeading" jhiTranslate="javanikoCalendarApp.proyect.home.createOrEditLabel">
        Create or edit a Proyect
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="javanikoCalendarApp.proyect.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="javanikoCalendarApp.proyect.description" for="field_description"
            >Description</label
          >
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
          <div *ngIf="editForm.get('description')!.invalid && (editForm.get('description')!.dirty || editForm.get('description')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('description')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="javanikoCalendarApp.proyect.createdAt" for="field_createdAt">Created At</label>
          <div class="input-group">
            <input
              id="field_createdAt"
              data-cy="createdAt"
              type="text"
              class="form-control"
              name="createdAt"
              ngbDatepicker
              #createdAtDp="ngbDatepicker"
              formControlName="createdAt"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="createdAtDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="javanikoCalendarApp.proyect.isPrivate" for="field_isPrivate">Is Private</label>
          <input type="checkbox" class="form-check" name="isPrivate" id="field_isPrivate" data-cy="isPrivate" formControlName="isPrivate" />
          <div *ngIf="editForm.get('isPrivate')!.invalid && (editForm.get('isPrivate')!.dirty || editForm.get('isPrivate')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('isPrivate')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="javanikoCalendarApp.proyect.milestonesUrl" for="field_milestonesUrl"
            >Milestones Url</label
          >
          <input
            type="text"
            class="form-control"
            name="milestonesUrl"
            id="field_milestonesUrl"
            data-cy="milestonesUrl"
            formControlName="milestonesUrl"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="javanikoCalendarApp.proyect.workspace" for="field_workspace">Workspace</label>
          <select class="form-control" id="field_workspace" data-cy="workspace" name="workspace" formControlName="workspace">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="workspaceOption.id === editForm.get('workspace')!.value?.id ? editForm.get('workspace')!.value : workspaceOption"
              *ngFor="let workspaceOption of workspacesSharedCollection; trackBy: trackWorkspaceById"
            >
              {{ workspaceOption.login }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label jhiTranslate="javanikoCalendarApp.proyect.usuario" for="field_usuarios">Usuario</label>
          <select class="form-control" id="field_usuarios" data-cy="usuario" multiple name="usuarios" formControlName="usuarios">
            <option
              [ngValue]="getSelectedUsuario(usuarioOption, editForm.get('usuarios')!.value)"
              *ngFor="let usuarioOption of usuariosSharedCollection; trackBy: trackUsuarioById"
            >
              {{ usuarioOption.username }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
